:root {
    --bg-color: #22252b;
    --fg-color-dimmed: #999;
    --fg-color: #fff;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    margin: 0;
    height: 100vh;
    font-size: 2.5em;
    overflow-y: hidden;
    background-color: var(--bg-color);
    color: var(--fg-color)
}

.prompt-page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 1em;
    padding: 2em;
    box-sizing: border-box;
}

button {
    font-size: inherit;
    background-color: #fff2;
    transition: 0.1s;
    cursor: pointer;
    border: none;
    border-radius: 1em;
    color: inherit;
    padding: 0.5em;
}

button:hover:not(:active) {
    background-color: #fff3;
}

textarea {
    resize: none;
    background-color: #fff1;
    border: none;
    border-radius: 1em;
    padding: 1em;
    color: inherit;
    font-size: 0.5em;
    transition: 0.05s;
    font-family: inherit;
}

textarea:focus {
    outline: none;
    background-color: #ffffff17;
}

.text-page {
    width: max-content;
    max-width: 80vw;
    margin: 50vh auto;
}

p {
    opacity: 0.8;
    transition: 0.5s;
    margin: 4em 0;
    line-height: 1.5;
}

p.selected {
    opacity: 1;
}

.overlay {
    position: fixed;
    inset: 0;
    background-image: linear-gradient(0deg, 
        var(--bg-color) 0%,
        #0000 30%,
        #0000 70%,
        var(--bg-color) 100%
    );
}
